<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tickets Index</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css"
    >
  </head>
  <body>
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
      <div class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/tickets">Browse Tickets</a>
          <a class="navbar-item" href="/tickets/new">Add New Ticket</a>
          <a class="navbar-item" href="/cpos/">List of CPO Partners</a>
          <a class="navbar-item" href="/cpos/new">Add New CPO Partner</a>
        </div>
      </div>
    </nav>
    <section class="section">
      <div class="container">
        <h1 class="title">All Tickets</h1>
        <form action="/tickets" method="GET" class="mb-5">
  <div class="field has-addons">
    <div class="control">
      <div class="select">
        <select name="status">
          <option value="">All Statuses</option>
          <option value="Open">Open</option>
          <option value="In Progress">In Progress</option>
          <option value="Resolved">Resolved</option>
          <option value="Closed">Closed</option>
        
        </select>
      </div>
    </div>
    <div class="control">
      <button type="submit" class="button is-link">Filter</button>
    </div>
  </div>
</form>
        <ul>
          <% tickets.forEach(ticket => { %>
            <li>
              <a href="/tickets/<%= ticket._id %>" class="has-text-link">
                <%= ticket.subject %>
              </a>
            </li>
          <% }); %>
        </ul>
      </div>
    </section>
  </body>
</html>
