
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SIPOC</title>
      <a href="/tickets">Browse Tickets</a>
      <a href="/tickets/new">Add New Ticket</a>
      <a href="/cpos/">List of CPO partners</a>
      <a href="/cpos/new">Add New CPO Partner</a>
  </head>
  <body>
    <h1>Welcome to SIPOC</h1>
    <p>(Single Point of Contact)</p>
     <p>Support tickets tracker & performance monitor</p>
  </body>
</html>
