
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SIPOC</title>
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css"
>
      <a href="/auth/sign-up">Sign up</a>

  </head>
  <body>
    <h1>Welcome to SIPOC</h1>
    <p>(Single Point of Contact)</p>
     <p>Support tickets tracker & performance monitor</p>
  </body>
</html>
